.flip-clock-wrapper-wrapper {
  display: inline-block;
}

.has-text-centered {
  text-align: center;
}

.search-textbox {
  border: none;
  outline: none;
  width: calc(100% - 100px);
}

.search-paging .btn {
  margin: 0 2px;
}
