.DS_Store
out/
millionaire-dataset-preparator/logs/
*.jar
.idea/
millionaire-dataset-preparator/atoms
packer/packer
.classpath
.project
Pipfile*
.settings/
bin/
.venv/
*.pyc
.gradle/
build/
tools/packer/packer
tools/logs.txt
